{% extends 'base.html' %}
{% block content %}
<div>
	<form method="POST">
		<div style="margin: 10px 0px">
			<label>Amount Invested ($): </label><br/>
			<input type="number" min = '0' step="0.01" min = '0' name="invested" placeholder="Amount Invested"  required/>
		</div>
		<div style="margin: 10px 0px">
			<label>Interest Rate (%): </label><br/>
			<input type="number" min = '0' step="0.01"  min = '0' name="rate" placeholder="Interest Rate" required/>
		</div>
		<div style="margin: 10px 0px">
			<label>Time Investment (Years): </label><br/>
			<input type="number" min = '0' step="0.01" name="time" min = '0' placeholder="Time of Investment" value="{{time}}" required {%if calc_time %}disabled{% endif %}/>
		</div>
		<div style="margin: 10px 0px">
			<label>Total Interest ($): </label><br/>
			<input type="number" min = '0' step="0.01" name="total" min = '0' placeholder="Total Interest" value="{{total}}" required {%if calc_total %}disabled{% endif %}/>
		</div>
		<div style="margin: 10px 0px">
			<button type="submit">Submit</button>
		</div>
	</form>
</div>
<a href="{{url_for('time_interest')}}">Time Form </a>
<a href="{{url_for('interest_total')}}">Total Form</a>
<br/>
<br/>
<div>
	{{message}}
</div>
<a href="{{url_for('credits')}}">Credits Page</a>
{% endblock %}
